[submodule "BlockExchange/lib/forge-std"]
	path = BlockExchange/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "BlockExchange/lib/openzeppelin-contracts"]
	path = BlockExchange/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "BlockExchange/lib/hedera-forking"]
	path = BlockExchange/lib/hedera-forking
	url = https://github.com/hashgraph/hedera-forking
[submodule "BlockExchange/lib/hedera-smart-contracts"]
	path = BlockExchange/lib/hedera-smart-contracts
	url = https://github.com/hashgraph/hedera-smart-contracts
